RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/(.*)/([^/]*)/([0-9]+)$ app/$1.php?action=$2&id=$3 [S]
RewriteRule ^api/(.*)/([^/]*)$ app/$1.php?action=$2 [S]
RewriteRule ^api/(.*)$ app/$1.php [S]
RewriteRule ^([^\.]+)$ /index.php?page=$1 [NC]